{% extends "main.html" %}

{% block content %}
<div class="container-fluid p-0">
  <div class="row" style="min-height:100vh;">    
    {% include 'login-form.html' %}  
    <div class="col-sm-8 border-end border-3 bg-image login-bg" style="background-color:#ffffff;width:100%;">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Join Us.</h1>
        <p class="col-md-8 fs-4 p-0">We're looking for passionate people to join us on our mission.</p>
        <a href="/jobs"><button class="btn btn-primary btn-lg" type="button">Start Career</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}