<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HRS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/ee35f341e4.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ee35f341e4.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
	<div class="container-fluid">
        <div class="row" style="min-height:100vh">
			{% if hasSidebar %}			
			<div class="col-sm-2 border-end border-2" style="background-color:#ffffff;min-width:320px"> 
				{% include 'sidebar.html' %}
			</div>
			{% endif %}			
			<div class="col p-0" style="background-color:#f5f8fe">      
				{% block content %}
				{% endblock content %}
			</div>
        </div> 
    </div>
</body>
</html>