{% extends "main.html" %}

{% block content %}

<div class="container-fluid px-5">
    <h1 class="mb-4">My Profile</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#mydetails" id="manageMyDetails"
                onclick="toggleTab(event, 'MyDetails');">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#mypayroll" id="manageMyPayroll" onclick="toggleTab(event, 'MyPayroll');">Payroll</a>
        </li>
    </ul>
    {% if "messages" in response %}
    {% if "ERROR" in response["messages"] %}
    <div class="alert alert-warning mt-3" role="alert">
        {{ response["messages"] }}
    </div>
    {% else %}
    <div class="alert alert-success mt-3" role="alert">
        {{ response["messages"] }}
    </div>
    {% endif %}
    {% endif %}

    <div id="MyDetails" class="tabcontent">
        {% include 'employee.html' %}
    </div>

    <div id="MyPayroll" class="tabcontent">

        {% if response["mypayrolls"].rowcount > 0 %}

        <table class="table table-sm table-hover table-bordered shadow-sm text-center mt-2">
            <thead>
                <tr class="text-center" style="background-color:#D6EAF8">
                    <th scope="col" colspan="2" style="width:10%">Action</th>
                    <th scope="col">Tier Name</th>
                    <th scope="col">Tier Description</th>
                    <th scope="col">Payscale (Monthly)</th>
                    <th scope="col">Is Active</th>
                </tr>
            </thead>
            <tbody>
                {% for item in response["tiers"] %}
                <tr>
                    <td class="text-center"><a href="/payroll/tiers/edit/{{item.id}}"><i
                                class="fa-solid fa-edit fa-flip-horizontal "></i></a>
                    </td>
                    <td class="text-center"><a href="/payroll/tiers/delete/{{item.id}}"><i
                                class="fa-solid fa-trash fa-flip-horizontal"></i></a>
                    </td>
                    <td>{{item.tier_name}}</td>
                    <td>{{item.tier_descr}}</td>
                    <td>{{item.tier_payscale}}</td>
                    <td>{{item.tier_active}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center text-muted">No tiers found. Click on <a href="#" id="addPayrollButton"
                onclick="toggleForm('TiersForm');">"Add Tier"</a> button to create tiers in the
            system.
        </p>
        {% endif %}
    </div>
</div>
{% endblock content %}