<div class="d-flex align-items-start flex-column bd-highlight">
  <div class="p-4 bd-highlight" style="height:13vh;width:100%;">
    <div class="d-flex justify-content-center">Logo</div>
  </div>
  <div class="bd-highlight pt-5" style="height:80vh;width:100%;">
    INdex
    <div class="d-flex align-items-start flex-column bd-highlight">
      
    </div>
    {% for item in views %}
    <div class="card">
      <a href="/logout">
        <div class="card-body">
          {{ item }}
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="mt-auto bd-highlight" style="height:7vh;width:100%;">
    <a type="button" role="button" href="/logout" class="btn btn btn-outline-primary btn-lg btn-block">
      <i class="fa-solid fa-arrow-right-from-bracket mr-3 fa-flip-horizontal"></i></i>Logout
    </a>
  </div>
</div>